    /*
     * Custom Fonts
     */
    @font-face {
        font-family: "Hack";
        src: url(./font/Hack-Regular.ttf);
    }

    body {
        background-color: black;
    }

    /*
     * Main Container
     */
    .mainDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*
     * Top containers
     */
    .top {
        display: flex;
        flex-direction: row;
    }

    .top-left {
        display: flex;
        flex-direction: column;
    }

    .top-right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    .preset-channel-container {
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin: 0px;
    }

    .buttons {
        margin-right: 10px;
    }

    .header {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #A7C7E7;
    }

    .knob {
        padding-top: 1px;
    }

    .preset {}

    .channel {}



    .btn {
        background-color: black;
        border-radius: 5px;
        border: 1px solid white;
        color: white;
        font-family: VT323;
        width: 75px;
        height: 30px;
        margin: 3px;
    }

    .btn:hover {
        border: 1px solid red;
    }

    .btn:active {
        background-color: red;
    }


    /*
     * Knob Settings
     */

    table {
        font-size: 15;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #C0C0C0;

    }

    td {
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    .inputField {
        width: 110px;
        border-radius: 3px;
        border: none;
        font-size: 15;
        text-align: center;

    }

    #inputPresetChannel {
        width: 30px;
        text-align: center;
    }

    .inputFieldLarge {
        margin-right: 5px;
        text-align: center;

    }

    .inputField:focus {
        outline-width: 0;
    }

    .divIsLocked {
        display: flex;
        align-items: center;
    }

    /*
     * Knob Sublabels
     */
    .sublabels {
        padding: 0px;
        cursor: default;
    }

    .sl-label {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15;
        background-color: black;
        color: #C0C0C0;
    }

    .sl-list {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style-type: none;
        height: 280px;
        padding: 0px;
        margin: 0 auto;
    }

    .sl-list-item {
        background-color: white;
        border: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;

        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin: 0px;
        white-space: nowrap;

        display: inline-flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        border-radius: 3px;
    }

    .sl-list-input {
        width: 105px;
        border: none;
        background-color: white;
        padding-top: 0px;
        padding-bottom: 0px;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15;
    }

    .sl-list-input:focus {
        outline-width: 0px;
    }

    .sl-drag-handle {
        margin: auto 0;
        background-color: white;
        padding-right: 3px;
    }

    .sl-drag-icon {
        width: 10px;
        height: auto;
        margin-right: 4px;
    }

    /*
     * Grid 
     */

    .grid {
        position: relative;
    }

    .item {
        display: block;
        position: absolute;
        width: 108px;
        height: 54px;
        margin: 4px;
        z-index: 1;
        background: black;
        color: white;
        font-family: monospace;
        border: solid 1px white;
    }

    .item:hover {
        border: 1px solid red;
    }

    .item.item.muuri-item-dragging {
        border: 1px solid red;
    }

    .item.muuri-item-dragging {
        z-index: 3;
    }

    .item.muuri-item-releasing {
        z-index: 2;
    }

    .item.muuri-item-hidden {
        z-index: 0;
    }

    .item.mu .item-content {
        position: relative;
        width: 100%;
        height: 100%;
    }