    /*
     * Custom Fonts
     */
    /*
    @font-face {
        font-family: "Roentgen";
        src: url(./font/Roentgen-Regular.ttf);
    }
    */
    @font-face {
        font-family: "Roentgen";
        src: url(../font/Roentgen.ttf);
    }

    #titlebar {
        display: flex;
        height: 10px;
        padding: 2px;
        justify-content: center;
        align-items: center;
        /*Compensate for body 1px border*/
        background: #111111;
    }

    #titlebar #titlebar-drag-region {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    .drag {
        -webkit-user-select: none;
        -webkit-app-region: drag;
        user-select: none;
    }

    .no-drag {
        -webkit-app-region: no-drag;
    }

    #titlebar-title {
        font-family: "Roentgen";
        font-size: 9px;
        color: white;
        padding: 0px;
        padding-left: 8px;
        font-smooth: 2em;
    }

    #titlebar-btns {
        display: flex;
        max-width: 114px;
        max-height: 32px;
        flex-grow: 1
    }

    .titlebar-btn {
        margin: 0;
        width: 30px;
        height: 20px;
        border: 0;
        outline: 0;
        background: transparent;
    }

    .titlebar-btn:hover {
        background: rgba(255, 255, 255, .1);
    }

    .titlebar-btn.close:hover {
        background: #e81123;
    }

    .titlebar-btn svg path,
    .titlebar-btn svg rect,
    .titlebar-btn svg polygon {
        fill: #fff;
    }

    .titlebar-btn svg {
        width: 6px;
        height: 6px;
        padding: 1px;
    }

    #titlebar-btn-min {}

    #titlebar-btn-max {}

    #titlebar-btn-close {}

    body,
    html {
        margin: 0;
        padding: 0;
        background-color: black;
    }

    .visible {
        visibility: visible;
    }

    .hidden {
        visibility: hidden;
    }

    /*
     * Menu bar
     */
    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #212121;
        padding-left: 10px;
        flex-wrap: wrap;
    }

    .preset-channel-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 30px;
        flex-wrap: wrap;
    }

    .header {
        font-family: "Roentgen";
        color: white;
        flex-wrap: wrap;
    }

    .preset {
        display: flex;
        flex-direction: row;
        /* !pad-together0 */
        padding-right: 5px;
    }

    .channel {
        display: flex;
        flex-direction: row;
    }

    .label {
        padding-right: 10px;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        /* !pad-together0 */
        padding-right: 10px;
    }

    .inputFieldLarge {
        width: 110px;
        border: 0px;
        height: 16px;
        border-radius: 3px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-top: 5px;
    }

    .inputFieldLarge:focus {
        outline-width: 0;
    }

    #inputPresetChannel {
        width: 30px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
    }

    .btn {
        background-color: #212121;
        border: 0px;
        color: white;
        font-family: "Roentgen";
        height: 40px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .btn:hover {
        background-color: black;
        opacity: 0.8;

    }

    .btn:active {
        background-color: black;
        opacity: 1;
    }

    .label-container {
        background-color: #212121;
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .label-container:hover {
        background-color: black;
        opacity: 0.8;
    }

    .label-btn {
        height: 25px;
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 14px;
        padding-bottom: 0px;
    }

    .file {
        display: none;
    }

    /*
     * Main Container
     */
    .mainDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .knob-top-container {
        display: flex;
        flex-direction: column;
    }

    /*
     * Top containers
     */
    .top {
        display: flex;
        flex-direction: row;
        padding-left: 7px;
        padding-right: 8px;
    }

    .top-left {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-left: 0px;
    }

    .top-right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    /*
     * Knob Settings
     */
    .settings {
        padding-right: 5px;
    }

    .knob {
        font-family: "Roentgen";
        color: #d3d3d3;
        font-size: 26px;
        padding-left: 10px;
    }

    table {
        font-size: 17px;
        font-family: "Roentgen";
        color: white;
    }

    td {
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    .divIsLocked {
        display: flex;
        align-items: center;
    }

    .inputField {
        width: 110px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 3px;
        border: none;
        font-size: 15;
    }

    .inputField:focus {
        outline-width: 0;
    }

    /*
     * Knob Sublabels
     */
    .sublabels {
        padding: 0px;
        cursor: default;
    }

    .sl-label {
        font-family: "Roentgen";
        font-size: 17px;
        background-color: black;
        color: white;
        /* align with top-left */
        padding-top: 4px;
        padding-bottom: 1px;
    }

    .sl-list {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style-type: none;
        height: 290px;
        padding: 0px;
        margin: 0 auto;
    }

    .sl-list-item {
        background-color: white;
        padding-right: 5px;

        margin-top: 0px;
        margin-bottom: 2px;
        margin-right: 4px;
        margin-left: 0px;
        white-space: nowrap;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .sl-list-input {
        width: 105px;
        border: none;
        background-color: white;
        padding-top: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .sl-list-input:focus {
        outline-width: 0px;
    }

    .sl-drag-handle {
        display: flex;
        justify-content: center;
        background-color: #414141;
        padding-left: 4px;
        padding-right: 4px;
        margin: 0;
        height: 100%;
    }

    .sl-drag-icon {
        width: 7px;
        height: auto;
        filter: invert(1);
        margin: 0;
        padding: 0;
    }

    .sl-list-item-dummy {
        background-color: black;
    }

    .sl-list-input-dummy {
        background-color: black;
        font-size: 8px;
        height: 18px;
        text-align: right;
    }

    .sl-drag-handle-dummy {
        background-color: black;
    }

    .sl-list-btn {
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1;
    }

    .sl-list-btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .sl-list-btn-delete {
        color: black;
        opacity: .5;
    }

    .sl-list-btn-delete.sl-list-btn:not(:disabled):not(.disabled):hover,
    .sl-list-btn:not(:disabled):not(.disabled):focus {
        color: #000;
        text-decoration: none;
        opacity: .75;
    }

    .sl-list-btn-add {
        color: white;
        opacity: 0.5;
    }

    .sl-list-btn-add.sl-list-btn:not(:disabled):not(.disabled):hover,
    .sl-list-btn:not(:disabled):not(.disabled):focus {
        color: white;
        text-decoration: none;
        opacity: .75;
    }

    /*
     * Grid 
     */

    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .preset-browser {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 333px;
        opacity: 0;
    }

    .fade-out {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }

    .fade-out-fast {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .hide {
        opacity: 0;
    }

    .fade-in {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 1;
        transition: opacity 0.25s ease-in-out;
    }

    .fade-in-fast {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }

    .fade-in-slow {
        zoom: 1;
        filter: alpha(opacity=50);
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
    }

    .preset-title {
        font-family: "Roentgen";
        color: white;
        font-size: 80px;
    }

    .grid {
        position: relative;
    }

    .knobContent {}

    .item {
        display: block;
        position: absolute;
        width: 108px;
        height: 54px;
        margin: 4px;
        z-index: 1;
        background: black;
        color: white;
        font-family: monospace;
        border: solid 1px #515151;
        text-align: center;

    }

    .item.active {
        border: 1px solid red;
    }

    .item:hover:not(.active) {
        border: 1px dashed red;
    }

    .item.item.muuri-item-dragging:not(.active) {
        border: 1px dashed red;
        opacity: 0.8;
    }

    .item.muuri-item-dragging {
        z-index: 3;
    }

    .item.muuri-item-releasing {
        z-index: 2;
    }

    .item.muuri-item-hidden {
        z-index: 0;
    }

    .item.mu .item-content {
        position: relative;
        width: 100%;
        height: 100%;
    }