    /*
     * Custom Fonts
     */
    /*
    @font-face {
        font-family: "Hack";
        src: url(./font/Hack-Regular.ttf);
    }
    */
    @font-face {
        font-family: "Hack";
        src: url(../font/Hack.ttf);
    }


    @import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

    /* 
     * Bootstrap
     */

    .close {
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1;
    }

    .close:not(:disabled):not(.disabled) {
        cursor: pointer;
    }



    body,
    html {
        margin: 0;
        padding: 0;
        background-color: black;
    }

    /*
     * Main Container
     */
    .mainDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*
     * Top containers
     */
    .top {
        display: flex;
        flex-direction: row;
        padding-left: 7px;
        padding-right: 8px;
    }

    .top-left {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-left: 0px;
        /* align with top-right */
    }

    .top-right {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

    }

    .settings {
        padding-right: 5px;
    }

    .knob {
        font-family: "Hack";
        color: #7DF9FF;
        font-size: 26px;
        padding-left: 10px;
    }


    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #1434A4;
        padding-left: 10px;
        padding-right: 10px;
    }

    .preset-channel-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 30px;

    }

    .preset {
        display: flex;
        flex-direction: row;
        /* !pad-together0 */
        padding-right: 5px;
    }

    .channel {
        display: flex;
        flex-direction: row;
    }

    .label {
        padding-right: 10px;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        /* !pad-together0 */
        padding-right: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        /* align with other header items */
    }

    .header {
        font-family: "Hack";
        color: white;
    }

    .inputFieldLarge {
        width: 110px;
        border: 0px;
        height: 16px;
        border-radius: 3px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-top: 5px;
    }

    .inputFieldLarge:focus {
        outline-width: 0;
    }

    .inputField {
        width: 110px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 3px;
        border: none;
        font-size: 15;
    }

    .inputField:focus {
        outline-width: 0;
    }

    #inputPresetChannel {
        width: 30px;
    }

    .btn {
        background-color: #1434A4;
        border: 0px;
        color: white;
        font-family: "Hack";
        width: 75px;
        height: 40px;
    }

    .btn:hover {
        background-color: black;
        opacity: 0.8;

    }

    .btn:active {
        background-color: black;
        opacity: 1;
    }


    /*
     * Knob Settings
     */

    table {
        font-size: 17px;
        font-family: "Hack";
        color: white;
    }

    td {
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    .divIsLocked {
        display: flex;
        align-items: center;
    }

    /*
     * Knob Sublabels
     */
    .sublabels {
        padding: 0px;
        cursor: default;
    }

    .sl-label {
        font-family: "Hack";
        font-size: 17px;
        background-color: black;
        color: white;
        /* align with top-left */
        padding-top: 4px;
        padding-bottom: 1px;
    }

    .sl-list {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style-type: none;
        height: 290px;
        padding: 0px;
        margin: 0 auto;
    }

    .sl-list-item {
        background-color: white;
        border: 0px;
        padding-right: 5px;

        margin-top: 0px;
        margin-bottom: 2px;
        margin-right: 4px;
        margin-left: 0px;
        white-space: nowrap;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sl-list-input {
        width: 105px;
        border: none;
        background-color: white;
        padding-top: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .sl-list-input:focus {
        outline-width: 0px;
    }

    .sl-drag-handle {
        display: flex;
        justify-content: center;
        background-color: darkslategray;
        padding-left: 4px;
        padding-right: 4px;
        margin: 0;
        height: 100%;
    }

    .sl-drag-icon {
        width: 7px;
        height: auto;
        filter: invert(1);
        margin: 0;
        padding: 0;
    }

    .sl-list-item-dummy {
        background-color: black;
        border: 1px solid darkslategray;
        margin-top: 1px;
    }

    .sl-list-input-dummy {
        background-color: black;
        height: 16px;
        font-size: 8px;
        text-align: right;

    }

    .sl-drag-handle-dummy {
        background-color: black;
        padding-left: 3px;
        padding-right: 3px;
    }

    .btnDelete {
        color: black;
        opacity: .5;

    }

    .btnDelete.close:not(:disabled):not(.disabled):hover,
    .close:not(:disabled):not(.disabled):focus {
        color: #000;
        text-decoration: none;
        opacity: .75;
    }

    .btnAdd {
        color: white;
        opacity: 0.5;
    }

    .btnAdd.close:not(:disabled):not(.disabled):hover,
    .close:not(:disabled):not(.disabled):focus {
        color: white;
        text-decoration: none;
        opacity: .75;
    }


    /*
     * Grid 
     */

    .grid {
        position: relative;
    }

    .item {
        display: block;
        position: absolute;
        width: 108px;
        height: 54px;
        margin: 4px;
        z-index: 1;
        background: black;
        color: white;
        font-family: monospace;
        border: solid 1px white;
    }

    .item:hover {
        border: 1px solid #7DF9FF;
    }

    .item.item.muuri-item-dragging {
        border: 1px solid #7DF9FF;
    }

    .item.muuri-item-dragging {
        z-index: 3;
    }

    .item.muuri-item-releasing {
        z-index: 2;
    }

    .item.muuri-item-hidden {
        z-index: 0;
    }

    .item.mu .item-content {
        position: relative;
        width: 100%;
        height: 100%;
    }