.grid {
    position: relative;
}

/*
 * Prevent these from triggering onClick to ensure
 * the event we receive is for the grid .item which
 * contains the id needed to index our state.
 */
#settings-content,
#preset-content,
.item-content {
    pointer-events: none
}


#settings-content-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    font-size: 12px;
}

#settings-content-foot {
    padding-top: 7px;
    font-size: 12px;
}

.item {
    display: block;
    position: absolute;
    width: 108px;
    height: 54px;
    margin: 4px;
    z-index: 1;
    background: black;
    color: white;
    font-family: monospace;
    border: solid 1px #515151;
    text-align: center;
}

.item.active {
    border: 1px solid red;
}

.item:hover:not(.active) {
    border: 1px dashed red;
}

.item.item.muuri-item-dragging:not(.active) {
    border: 1px dashed red;
    opacity: 0.8;
}

.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item.mu .item-content {
    position: relative;
    width: 100%;
    height: 100%;
}