.sublabels {
    cursor: default;
    padding-left: 10px;
    height: 245px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.sublabels-label {
    font-family: "Roentgen";
    font-size: 17px;
    background-color: black;
    color: white;
    padding-top: 26px;
    padding-bottom: 2px;
}

.sublabels-container {
    display: flex;

}

.sublabels-list-item {
    background-color: white;
    padding-right: 5px;

    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 4px;
    margin-left: 0px;
    white-space: nowrap;

    display: flex;
    flex-direction: row;

}

.sublabels-list-input {
    width: 105px;
    border: none;
    background-color: white;
    padding-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sublabels-list-input:focus {
    outline-width: 0px;
}

.sublabels-drag-handle {
    display: flex;
    justify-content: center;
    background-color: #414141;
    padding-left: 4px;
    padding-right: 4px;
    width: 8px;

}

.sublabels-drag-icon {
    width: 7 px;
    height: auto;
    filter: invert(1);
    margin: 0;
    padding: 0;
}

.sublabels-list-item-dummy {
    background-color: black;
}

.sublabels-list-input-dummy {
    background-color: black;
    font-size: 8px;
    height: 18px;
    text-align: right;
}

.sublabels-drag-handle-dummy {
    background-color: black;
}

.sublabels-list-btn {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
}


.sublabels-list-btn-delete {
    color: black;
    opacity: .5;
    cursor: pointer;
}

.sublabels-list-btn-delete:hover {
    color: black;
    opacity: 1
}

.sublabels-list-btn-delete:active {
    color: red;
    opacity: 1;
}

.sublabels-list-btn-add {
    color: white;
    opacity: 0.5;
}

.sublabels-list-btn-add:hover {
    color: white;
    opacity: 0.75;
}

.sublabels-list-btn-add:active {
    color: gray;
    opacity: 1
}