.sublabels {
    cursor: default;
    padding-left: 10px;
}

.sublabels-label {
    font-family: "Roentgen";
    font-size: 17px;
    background-color: black;
    color: white;
    padding-top: 26px;
    padding-bottom: 2px;
}

.sublabels-list {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    height: 290px;
    padding: 0px;
    margin: 0 auto;
}

.sublabels-list-item {
    background-color: white;
    padding-right: 5px;

    margin-top: 0px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-left: 0px;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.sublabels-list-input {
    width: 105px;
    border: none;
    background-color: white;
    padding-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sublabels-list-input:focus {
    outline-width: 0px;
}

.sublabels-drag-handle {
    display: flex;
    justify-content: center;
    background-color: #414141;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
    height: 100%;
}

.sublabels-drag-icon {
    width: 7px;
    height: auto;
    filter: invert(1);
    margin: 0;
    padding: 0;
}

.sublabels-list-item-dummy {
    background-color: black;
}

.sublabels-list-input-dummy {
    background-color: black;
    font-size: 8px;
    height: 18px;
    text-align: right;
}

.sublabels-drag-handle-dummy {
    background-color: black;
}

.sublabels-list-btn {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1;
}

.sublabels-list-btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.sublabels-list-btn-delete {
    color: black;
    opacity: .5;
}

.sublabels-list-btn-delete.sublabels-list-btn:not(:disabled):not(.disabled):hover,
.sublabels-list-btn:not(:disabled):not(.disabled):focus {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

.sublabels-list-btn-add {
    color: white;
    opacity: 0.5;
}

.sublabels-list-btn-add.sublabels-list-btn:not(:disabled):not(.disabled):hover,
.sublabels-list-btn:not(:disabled):not(.disabled):focus {
    color: white;
    text-decoration: none;
    opacity: .75;
}